@import "colors.css";

* {
    font-size: 10px;
    color: @on_surface;
    font-weight: 900;
    font-family: "Material Symbols Rounded", "JetBrainsMono Nerd Font";
    margin: 1;
    padding: 0.2;
}

#waybar {
    background: alpha(@background, 0.85);
    color: @on_background;
    padding: 0 4px;
}


/* WORKSPACES */

#workspaces {
    margin: 0;
    padding: 0;
}

#workspaces button {
    min-width: 9px;
    padding: 0 4px;
    margin: 0 2px;
    background: transparent;
    color: @outline_variant;
    border: none;
    border-radius: 4px;

    font-family: "Material Symbols Rounded";
    font-size: 10px;
}

#workspaces button.active {
    color: @primary;

    background: transparent;
}

#workspaces button.urgent {
    color: @error;
    border-bottom: 2px solid @error;
}

#workspaces button:hover {
    background: @surface_container_high;
    color: @on_surface;
}


/* WINDOW */

#window {
    color: @on_surface_variant;
    padding: 2px 10px;
}


/* CLOCK */

#clock {
    color: @primary;
    font-weight: 900;
    padding: 2px 10px;
}


/* MEDIA */

#mpris {
    color: @on_surface_variant;
    padding: 0 8px;
}

#mpris.playing {
    color: @secondary;
}

#mpris.paused {
    color: @outline;
}

#mpris.stopped {
    color: @outline_variant;
}

#mpris:hover {
    color: @primary;
}


/* CAVA */

#cava {
    color: @primary;
    padding: 0 8px;
}


/* CPU */

#cpu {
    color: @secondary;
    padding: 2px 10px;
}

#cpu.warning {
    color: @tertiary;
}

#cpu.critical {
    color: @error;
}


/* MEMORY */

#memory {
    color: @tertiary;
    padding: 2px 10px;
}

#memory.warning {
    color: @secondary;
}

#memory.critical {
    color: @error;
}


/* WEATHER */

#custom-weather {
    color: @primary;
    padding: 2px 10px;
}

#custom-weather:hover {
    color: @primary_fixed;
}


/* WALLPAPER */

#custom-wallpaper {
    color: @secondary;
    font-size: 16px;
    padding: 0 8px;
}

#custom-wallpaper:hover {
    color: @primary;
}


/* POWER */

#custom-power {
    color: @error;
    font-size: 16px;
    padding: 0 8px;
}

#custom-power:hover {
    color: @error_container;
}


/* TOOLTIP */

tooltip {
    background: @surface_container;
    border: 1px solid @outline_variant;
    border-radius: 12px;
}

tooltip label {
    color: @on_surface;
}


/* HOVER */

#workspaces button:hover,
#custom-weather:hover,
#custom-wallpaper:hover,
#custom-power:hover,
#mpris:hover {
    background: alpha(@surface_container_high, 0.75);
}
