* {
    background: {{colors.background.default.hex}};
    foreground: {{colors.on_background.default.hex}};

    background-alt: {{colors.surface_container_high.default.hex}};
    selected: {{colors.primary.default.hex}};

    
    active: {{ colors.primary.default.hex }};
    urgent: {{ colors.error.default.hex }};
}
