@define-color window_bg_color {{ colors.surface.default.hex }};
@define-color accent_bg_color {{ colors.primary.default.hex }};
@define-color theme_fg_color {{ colors.on_surface.default.hex }};
@define-color error_bg_color {{ colors.error.default.hex }};
@define-color error_fg_color {{ colors.on_error.default.hex }};

* {
    all: unset;
}

.box-wrapper {
    background: @window_bg_color;
    padding: 20px;
    border-radius: 18px;
    border: 1px solid @accent_bg_color;
}

.input {
    caret-color: @theme_fg_color;
    background: @surface_container;
    padding: 10px;
    color: @theme_fg_color;
    border-radius: 10px;
}

.input placeholder {
    opacity: 0.5;
}

.list {
    color: @theme_fg_color;
}

.item-box {
    border-radius: 10px;
    padding: 10px;
}

child:hover .item-box,
child:selected .item-box {
    background: alpha(@accent_bg_color, 0.25);
}

.item-text {
    color: @theme_fg_color;
}

.item-subtext {
    color: @on_surface_variant;
    opacity: 0.7;
}

.error {
    background: @error_bg_color;
    color: @error_fg_color;
    border-radius: 8px;
}

.preview {
    border: 1px solid alpha(@accent_bg_color, 0.25);
    padding: 10px;
    border-radius: 10px;
    color: @theme_fg_color;
}
